<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css" />
    <title>PhotoAlbum</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="/" class="button">Albums</a></li>
        <!-- Create a post to library -->
        <li><a href="/Library" class="button">Library</a></li>
      </ul>
    </nav>
    <section class="contentArea">
      <!-- Create an area to upload multiple photos -->
      <form method="post" enctype="multipart/form-data">
        <input type="text" name = "name">
        <input type="file" name="file" multiple>
        <input type="submit" value="Upload" method = "POST">
      </form>
    </section>
  </body>
</html>
