<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <title>PhotoAlbum</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="/" class="button">Albums</a></li>
        <li><a href="/Library" class="button">Library</a></li>
      </ul>
    </nav>
    <section class="contentArea">
      <p>{{ albums }}</p>
      <ul class="photo-gallery">
        {% for image in photos %}
        <li>
            <img src="{{ image }}" alt="{{ image.album }}" />
            <span>{{ image.album }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
